/*
Malheureusement je dois faire plusieurs css à cause des couleurs de background 
qui sont différentes pour chaque pages
*/

:root {
    --background-color: #0E1457;
    --container-color: #FFFFFF;
    --btn-color: #AA0000;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --text-color: #00bcd4;
    --separator-color: #000000;
}

/*Mise en oeuvre d'une règle définitive*/
li {
    list-style: none;
}

body {
    background-color: var(--background-color);
    margin: 2vh 2vw;
}

/* 
 /$$   /$$                            /$$$$$$$                     
| $$$ | $$                           | $$__  $$                    
| $$$$| $$  /$$$$$$  /$$    /$$      | $$  \ $$  /$$$$$$   /$$$$$$ 
| $$ $$ $$ |____  $$|  $$  /$$/      | $$$$$$$  |____  $$ /$$__  $$
| $$  $$$$  /$$$$$$$ \  $$/$$/       | $$__  $$  /$$$$$$$| $$  \__/
| $$\  $$$ /$$__  $$  \  $$$/        | $$  \ $$ /$$__  $$| $$      
| $$ \  $$|  $$$$$$$   \  $/         | $$$$$$$/|  $$$$$$$| $$      
|__/  \__/ \_______/    \_/          |_______/  \_______/|__/ */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5vh;
}

nav h1 {
    color: var(--white-color);
    margin-right: 40vw;
    font-size: 2.1em;
}

.btn {
    background-color: var(--btn-color);
    padding: 1vh 2vw;
    margin-right: 2vw;
    font-size: 2.4em;
    border: none;
    color: var(--white-color);
    text-decoration: none;
}

.btn a {
    text-decoration: none;
    color: var(--white-color);
}

.btn:hover {
    background-color: var(--container-color);
    transition: 0.5s ease-in-out;
}

.btn a:hover {
    color: var(--btn-color);
}

/*
/$$$$$$$                     
| $$__  $$                    
| $$  \ $$  /$$$$$$  /$$   /$$
| $$$$$$$  /$$__  $$|  $$ /$$/
| $$__  $$| $$  \ $$ \  $$$$/ 
| $$  \ $$| $$  | $$  >$$  $$ 
| $$$$$$$/|  $$$$$$/ /$$/\  $$
|_______/  \______/ |__/  \__/ 
*/

.content {
    position: relative;
    display: flex;
    flex-direction: baseline;
    align-items: center;
    background-color: var(--container-color);
    color: var(--white-color);
}

.info-box {
    margin: 2vh 2vw;
    background-color: var(--btn-color);
}

h2 {
    font-size: 3em;
    margin: 1vh 1vw;
}

p {
    font-size: 2.5em;
    margin: 1vh 1vw;
}

/*
  /$$$$$$   /$$$$$$  /$$$$$$$   /$$$$$$  /$$   /$$  /$$$$$$  /$$$$$$$$ /$$      
 /$$__  $$ /$$__  $$| $$__  $$ /$$__  $$| $$  | $$ /$$__  $$| $$_____/| $$      
| $$  \__/| $$  \ $$| $$  \ $$| $$  \ $$| $$  | $$| $$  \__/| $$      | $$      
| $$      | $$$$$$$$| $$$$$$$/| $$  | $$| $$  | $$|  $$$$$$ | $$$$$   | $$      
| $$      | $$__  $$| $$__  $$| $$  | $$| $$  | $$ \____  $$| $$__/   | $$      
| $$    $$| $$  | $$| $$  \ $$| $$  | $$| $$  | $$ /$$  \ $$| $$      | $$      
|  $$$$$$/| $$  | $$| $$  | $$|  $$$$$$/|  $$$$$$/|  $$$$$$/| $$$$$$$$| $$$$$$$$
 \______/ |__/  |__/|__/  |__/ \______/  \______/  \______/ |________/|________/*/

.carousel {
    margin: 2vh 2vw;
    position: relative;
    max-width: 300%;
    max-height: 90vh; /*Peut créer un bug de coupage de l'image parfois*/
    overflow: hidden;
}

.carousel-track-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-track {
    padding-left: 0;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.carousel-slide img {
    width: 100%;
    display: block;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white-color);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.carousel-button-left {
    left: 1vw;
}

.carousel-button-right {
    right: 1vw;
}

.carousel-button:focus {
    outline: none;
}

/*
/$$$$$$$$ /$$$$$$   /$$$$$$  /$$$$$$$$ /$$$$$$$$ /$$$$$$$ 
| $$_____//$$__  $$ /$$__  $$|__  $$__/| $$_____/| $$__  $$
| $$     | $$  \ $$| $$  \ $$   | $$   | $$      | $$  \ $$
| $$$$$  | $$  | $$| $$  | $$   | $$   | $$$$$   | $$$$$$$/
| $$__/  | $$  | $$| $$  | $$   | $$   | $$__/   | $$__  $$
| $$     | $$  | $$| $$  | $$   | $$   | $$      | $$  \ $$
| $$     |  $$$$$$/|  $$$$$$/   | $$   | $$$$$$$$| $$  | $$
|__/      \______/  \______/    |__/   |________/|__/  |__/*/
.footer-container {
    margin-top: 2vh;
    text-align: center;
    padding: 20px;
    background-color: var(--container-color);
    color: var(--black-color);
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 10px 0;
    gap: 15px;
}

.footer-links li {
    list-style: none;
    position: relative;
}

.footer-links li:not(:last-child)::after {
    content: '|';
    margin-left: 10px;
    color: var(--separator-color)
}

.footer-links a {
    text-decoration: none;
    color: var(--black-color);
    transition: 0.3s ease-in-out;
}

.footer-links a:hover {
    color: var(--text-color)
}

.footer-container p {
    margin: 5px 0;
    font-size: 0.9rem;
}


/*
 /$$$$$$$                                                              /$$                    
| $$__  $$                                                            |__/                    
| $$  \ $$  /$$$$$$   /$$$$$$$  /$$$$$$   /$$$$$$  /$$$$$$$   /$$$$$$$ /$$ /$$    /$$ /$$$$$$ 
| $$$$$$$/ /$$__  $$ /$$_____/ /$$__  $$ /$$__  $$| $$__  $$ /$$_____/| $$|  $$  /$$//$$__  $$
| $$__  $$| $$$$$$$$|  $$$$$$ | $$  \ $$| $$  \ $$| $$  \ $$|  $$$$$$ | $$ \  $$/$$/| $$$$$$$$
| $$  \ $$| $$_____/ \____  $$| $$  | $$| $$  | $$| $$  | $$ \____  $$| $$  \  $$$/ | $$_____/
| $$  | $$|  $$$$$$$ /$$$$$$$/| $$$$$$$/|  $$$$$$/| $$  | $$ /$$$$$$$/| $$   \  $/  |  $$$$$$$
|__/  |__/ \_______/|_______/ | $$____/  \______/ |__/  |__/|_______/ |__/    \_/    \_______/
                              | $$                                                            
                              | $$                                                            
                              |__/    
*/
/*TEL*/
@media (max-width: 600px) {
    nav h1 {
        margin-right: 20vw;
    }

    .info-box {
        order: 2;   /*Met le texte en second élément*/
    }

    .btn {
        font-size: 1.5em;
    }

    .content {
        flex-direction: column;
    }

    h2 {
        font-size: 2.5em;
    }

    p {
        font-size: 2em;
    }

    .carousel {
        max-height: 50vh;
        order: 1;
    }
}

/*FOOTER (pieds de page)*/
@media (max-width: 600px) {
    .footer-container {
        font-size: 0.8rem; /* Réduit la taille du texte */
        padding: 10px; /* Réduit le padding */
    }

    .footer-links {
        flex-direction: column; /* Empile les liens verticalement */
        gap: 5px; /* Réduit l'espace entre les liens */
    }

    .footer-links li:not(:last-child)::after {
        content: ''; /* Supprime le séparateur '|' pour mobile */
    }
}

/*Quelques ajustements pour tablette*/
@media (min-width: 601px) and (max-width: 1024px) {
    
    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.3em;
    }
}

